{% extends 'base.html' %}

{% block title %} 
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col">
            <br>
            <br>
            <div class="list-group">
                {% for theme in themes %}
                    <a href="{% url 'formulas:view-formulas' theme.pk %}" class="list-group-item list-group-item-action"> <h3>{{ theme.name }} </h2> </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock %}

