{% extends 'base.html' %}

{% block title %} 
{% endblock %}

{% block content %}
    <br>
    <center> <h1>  Добро пожаловать! </h1> 
    
        <br>
        <img src="https://www.clipartmax.com/png/full/210-2102625_pen-book-quill-clip-art-book-and-pen.png">
    </center>
        <br>
        <p>
        Здесь ты сможешь изучить все формулы по физике за 7-9 класс, а также проверить свои знания с помощью <a href="{% url 'quizes:quiz' %}">тестов</a>.
        Если ты хочешь выбрать несколько разделов для написания формул, зажми CTRL и выбери левой кнопкой мыши нужный тебе раздел.
        <p>
{% endblock %}
